.header {
  display: flex;
  justify-content: space-between;
  background-color: turquoise;
  additive-symbols: flex;
  justify-content: space-between;
  
}
.logo {
  padding: 20px;
}

.header-section { 
  font-family: 'Bitter',serif;
  display: inline-block;
}
ul {
  padding: 0;
  margin: 0;
}
.nav-btn {
  list-style-type: none;
  display: inline-block;
  padding: 20px;
}
.nav-link {
  color: black;
  text-decoration: none;
}
body {
background-image: url('fernpic.jpg');
  background-size:default;
background-repeat:no-repeat;
  background-position: center;}

p {
  font-size: 20px;
  color: white;
  text-align:center;
  border: 2px solid white;
  border-radius: 5px;
  
}

h1 {
  font-size: 40px;
  color: white 
}